<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="./vendor/bundle.css">
		<link rel="stylesheet" href="./dist/css/app.min.css">
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<style>
			.li-active{
				background: #BEBEC5 !important;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<!-- Header -->
			<header class="main-header">
				<div class="header-right">
					<div class="navbar-toggler">
						<a href="#">
							<i data-feather="menu"></i>
						</a>
					</div>
					<div class="dropdown">
						<a href="#" data-toggle="dropdown">
							<span class="mr-2 d-none d-sm-inline-block">Mirabelle Tow</span>
							<figure class="avatar">
								<img src="./dist/media/img/avatar3.png" class="rounded-circle" alt="image">
							</figure>
						</a>
					</div>
				</div>
			</header>
			<!-- ./ Header -->
			
			<!-- Layout -->
			<div class="layout">
			
				<!-- Content -->
				<div class="content">
			
					<!-- Chats sidebar -->
					<div id="chats" class="sidebar chat-list active">
						<header>
							<span>Chats</span>
						</header>
						
						<div class="sidebar-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item" v-for="(item, index) in linkMan" @click="toDetailView(index)" :id="index" 
								v-bind:class="{ 'li-active': (index == indexTemp) }" style="padding: 18px 8px !important;">
									<figure class="avatar " v-bind:class="{'avatar-state-success': (item.view.user.onLineStatus == 0) }">
										<template v-if="item.view.user.headStatus == 1">
											<img :src="headLink" class="rounded-circle" alt="">
										</template>
										<template v-else>
											<img :src="item.view.user.headLink" class="rounded-circle" alt="">
										</template>
									</figure>
									<div class="users-list-body" style="color: #EFEFEF;">
										<div>
											<h5 class="text-primary">
											{{item.view.user.username}}
											<span class="icon iconfont icon-huangguan" style="color: #F7D501;font-size: 24px;"
											v-if="item.view.member == 1">
											</span>
											<span class="icon iconfont icon-zuanshi" style="color: #1e6f35;font-size: 24px;" 
												v-if="item.view.member == 2">
											</span>
											</h5>
										</div>
										<div class="users-list-action">
											<div class="new-message-count" v-if="item.view.count > 0">{{item.view.count}}</div>
										</div>
										<div class="action-toggle">
											<div class="dropdown">
												<a data-toggle="dropdown" href="#" aria-expanded="false">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
												</a>
												<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(24px, 19px, 0px);">
													<a href="#" class="dropdown-item btn-open-chat"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">打开</font></font></a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
					<!-- ./ Chats sidebar -->
				   
					<!-- Chat -->
					<div class="chat">
						<div class="chat-body"> <!-- .no-message -->
							<div class="messages">
								<template v-for="(item, index) in message">
									<div class="message-item outgoing-message" v-if="item.view.flag == true">
										<div class="message-avatar">
											<template v-if="item.view.user.headStatus==1">
												<img :src="headLink" alt="" class="rounded-circle" width="37px" height="37px">
											</template>
											<template v-else>
												<img :src="item.view.user.headLink" class="rounded-circle">
											</template>
										</div>
										<div>
											<div class="message-content" style="margin-right: 10px;">
												{{item.view.message.content}}
											</div>
											<div class="time">{{item.view.createDate}}</div>
										</div>
									</div>
									<div class="message-item" v-else>
										<div class="message-avatar">
											<figure class="avatar" title="Byrom Guittet">
												<template v-if="item.view.user.headStatus==1">
													<img :src="headLink" alt="" class="rounded-circle" width="37px" height="37px">
												</template>
												<template v-else>
													<img :src="item.view.user.headLink" class="rounded-circle">
												</template>
											</figure>
										</div>
										<div>
											<div class="message-content">
												{{item.view.message.content}}
											</div>
											<div class="time">{{item.view.createDate}}</div>
										</div>
									</div>
								</template>
								
							</div>
						</div>
						<div class="chat-footer">
							<form>
								<div>
								   
									<button class="btn btn-danger mr-3 d-inline d-sm-none btn-close-chat" data-toggle="tooltip" title="Emoji" type="button">
										<i data-feather="arrow-left"></i>
									</button>
								</div>
								<input type="text" class="form-control" placeholder="Write a message." v-model="content">
								<div class="form-buttons">
									<button @click="sendMessage" class="btn btn-primary">
										<i data-feather="send"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
					<!-- ./ Chat -->
			
				</div>
				<!-- ./ Content -->
			
			</div>
			<!-- ./ Layout -->
		</div>

	</body>
	<!-- Bundle -->
	<script src="./vendor/bundle.js"></script>
	<!-- App scripts -->
	<script src="./dist/js/app.min.js"></script>
	<!-- Examples -->
	<script src="./dist/js/examples.js"></script>
	<script src="js/vue-2.4.0.js"></script>
	<script src="js/vue-resource-1.3.4.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/polyfill.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/babel">
		var vm = new Vue({
			el : '#app',
			data:{
				headLink:"images/user/default.png",
				linkMan:[],
				indexTemp:0,
				userID:0,
				message:[],
				timer:"",
				linkTimer:"",
				//发送消息
				content:"",
				
				languageID:1,
				topLabel:["个人资料", "消息", "退出"]
			},
			methods:{
				checkTicket() {
					this.ticket = localStorage.getItem("ticket");
					if(this.ticket == "") {
						window.location.href = "login.html"
						return 
					}
					this.clearLinkTimer()
					this.clearTimer()
				},
				//跳转到登录页面
				toLoginView(res) {
					if(res.body.code == "302") {
						window.location.href = "login.html"
					}
				},
				//分页获取所有的汉服
				getLinkman() {
					this.$http.get('/user/getLinkman/',
					{params : {time:new Date().getTime()}})
					.then(function(res){
						this.toLoginView(res)
						this.linkMan = res.body.data
					},function() {
						console.log('请求失败处理');
					});
				},
				toDetailView(index){
					this.indexTemp = index
					this.linkMan[index].view.count = 0
					this.userID = this.linkMan[index].view.user.id
					this.clearTimer()
					this.getMessageDetail()
					this.createTimer()
				},
				getMessageDetail() {
					this.$http.get('/user/getMessageDetail/',
					{params : {time:new Date().getTime(), userID:this.userID}})
					.then(function(res){
						this.toLoginView(res)
						this.message = res.body.data
					},function() {
						console.log('请求失败处理');
					});
				},
				//添加消息
				sendMessage(){
					if(this.content == "" || this.userID == 0) {
						return ;
					}
					var formData = new FormData();
					formData.append('content', this.content);
					formData.append('toUserID', this.userID);
					this.$http.post('/user/addMessage/', formData).
					then(function (res) {
						if(res.body.eor){
							alert(res.body.eor)
						}
						this.toLoginView(res)
						this.content = ""
					}, function (res) {
					  console.log(res.body);
					});
				},
				clearLinkTimer(){
					clearInterval(this.linkTimer)
				},
				clearTimer(){
					clearInterval(this.timer)
				},
				createLinkTimer(){
					linkTimer = setInterval(this.getLinkman, 2000)
				},
				createTimer() {
					timer = setInterval(this.getMessageDetail, 2000)
				},
				logout(){
					this.$http.get('/user/logout/',
						{params : {time:new Date().getTime()}})
					.then(function(res) {
						window.location.href = "login.html"
					},function() {
						console.log('请求失败处理');
					});
				},
				change() {
					if(this.languageID == 1) {
						this.topLabel = ["个人资料", "消息", "退出"]
					} else if(this.languageID == 2) {
						this.topLabel = ["個人資料", "消息", "退出"]
					} else if(this.languageID == 3) {
						this.topLabel = ["personal data", "message", "log out"]
					} else if(this.languageID == 4) {
						this.topLabel = ["인적 사항", "소식.정보.", "퇴출"]
					} else if(this.languageID == 5) {
						this.topLabel = ["个人资料", "しょうそく", "たいしゅつ"]
					} else if(this.languageID == 6) {
						this.topLabel = ["ข้อมูลส่วนบุคคล", "ข่าว", "ออก"]
					}
				}
			},
			mounted() {
				this.createLinkTimer()
			},
			beforeMount() {
				this.getLinkman()
			},
			beforeDestroy() {
				this.checkTicket()
			}
		})
	</script>
</html>